<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <link rel="stylesheet" href="resetpassword.component.css">
</head>

<body class="container">

  <div class="left-section">
    <img class="logo" src="assets/logoproject.png" alt="Logo">
    <h2>Forget Password</h2>
    <p>Choose your comfortable method </p>

    <div *ngIf="step === 1" class="forgot-options">
      <label for="email-reset">Email Address:</label>
      <input type="text" id="email-reset" [(ngModel)]="emailReset" name="emailReset" required>

      <button type="button" class="continue" (click)="continue()">Continue</button>
    </div>

    <div *ngIf="step === 2" class="forgot-options">
      <label for="token">Enter Token:</label>
      <input type="text" id="token" [(ngModel)]="token" name="token" required>

      <label for="new-password">New Password:</label>
      <input type="password" id="new-password" [(ngModel)]="newPassword" name="newPassword" required>

      <button type="button" class="reset-password" (click)="resetPassword()">Reset Password</button>
    </div>

    <div *ngIf="step === 4" class="forgot-options">
      <p>Password reset successfully!</p>
      <button type="button" class="return-login" (click)="goToLogin()">Go to Login</button>
    </div>
  </div>
  <div class="right-section">
    <img class="welcome-image" src="assets/creat.jpg" alt="Welcome Image">
  </div>

</body>

</html>
